.git
.github

.env

.DS_Store

__pycache__/
*.pyc
*.pyo
.pytest_cache/
ci-test-env/
.venv/
venv/

*.db
*.sqlite
*.sqlite3

data/state/
data/output/
data/rejected/
data/benchmark/

data/transactions_100k.csv
data/transactions_1m.csv

.vscode/
.idea/
